@tailwind base;
@tailwind components;
@tailwind utilities;

html.overflow {
  overflow-y: scroll;
  height: 100%;
}
html.overflow body {
  height: 100%;
  overflow: hidden;
}

.container {
  padding: 0 15px;
}

.visually-hidden {
  @apply absolute w-px h-px p-0 overflow-hidden border-0;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.padding-bottom-16-9 {
  padding-bottom: 56.25%;
}

.swiper-container {
  position: relative;
}

.swiper-button-prev, .swiper-button-next {
  @apply absolute w-10 h-20 m-0 cursor-pointer z-10 items-center justify-center bg-white;
  background-image: url("/slider-arrow.svg");
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-prev {
  left: 4px;
}

.swiper-button-next {
  right: 4px;
  transform: translateY(-50%) scaleX(-1);
}