@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
}

html.overflow {
  overflow-y: scroll;
  height: 100%;
}
html.overflow body {
  height: 100%;
  overflow: hidden;
}

body {
  min-height: 100%;
}

body > div {
  @apply flex flex-col;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.container {
  padding: 0 15px;
}

.visually-hidden {
  @apply absolute w-px h-px p-0 overflow-hidden border-0;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.padding-bottom-16-9 {
  padding-bottom: 56.25%;
}
